In [1]:
#importing required libraries

import pandas as pd
import numpy as np
import seaborn as sns
from itertools import combinations, groupby, chain
from collections import Counter

In [2]:
#reading the files which were grouped using association rule

cluster0_item_rules = pd.read_csv('data/group0_item_rules.csv', index_col = 0)
cluster1_item_rules = pd.read_csv('data/group1_item_rules.csv', index_col = 0)
cluster2_item_rules = pd.read_csv('data/group2_item_rules.csv', index_col = 0)
cluster3_item_rules = pd.read_csv('data/group3_item_rules.csv', index_col = 0)
cluster4_item_rules = pd.read_csv('data/group4_item_rules.csv', index_col = 0)
cluster5_item_rules = pd.read_csv('data/group5_item_rules.csv', index_col = 0)
cluster0_aisle_rules = pd.read_csv('data/group0_aisle_rules.csv', index_col = 0)
cluster1_aisle_rules = pd.read_csv('data/group1_aisle_rules.csv', index_col = 0)
cluster2_aisle_rules = pd.read_csv('data/group2_aisle_rules.csv', index_col = 0)
cluster3_aisle_rules = pd.read_csv('data/group3_aisle_rules.csv', index_col = 0)
cluster4_aisle_rules = pd.read_csv('data/group4_aisle_rules.csv', index_col = 0)
cluster5_aisle_rules = pd.read_csv('data/group5_aisle_rules.csv', index_col = 0)

In [3]:
products = pd.read_csv('data/products.csv', index_col = 0)
aisles = pd.read_csv('data/aisles.csv', index_col = 0)
clusters = pd.read_csv('data/cluster_df.csv', index_col = 0)

In [4]:
cluster_df = clusters.set_index('user_id')
cluster_df

                0         1         2         3         4         5  cluster
user_id
1       -0.103161  0.048616 -0.031831 -0.005638 -0.053051 -0.055217        1
2       -0.077766  0.077983 -0.076148 -0.101672  0.081779 -0.040402        1
3        0.057496  0.085719  0.001777 -0.013190 -0.028497  0.113049        0
4       -0.055343  0.134731 -0.002392 -0.037706 -0.087813 -0.027366        5
5        0.133936 -0.019591 -0.020960 -0.003729  0.057740  0.138878        0
...           ...       ...       ...       ...       ...       ...      ...
206205  -0.021674  0.081783 -0.073479 -0.088437  0.155951 -0.022699        0
206206  -0.040316 -0.036658 -0.024048  0.010056 -0.051032  0.000852        1
206207  -0.022110 -0.032613 -0.009467 -0.015800  0.021496  0.020468        0
206208  -0.002217 -0.010633 -0.037620 -0.007752  0.028732  0.044834        0
206209  -0.072488  0.017515 -0.043592 -0.003230 -0.010474  0.027658        1

[206209 rows x 7 columns]

In [5]:
cluster_item_rules_dic = {}
cluster_item_rules_dic[0] = cluster0_item_rules
cluster_item_rules_dic[1] = cluster1_item_rules
cluster_item_rules_dic[2] = cluster2_item_rules
cluster_item_rules_dic[3] = cluster3_item_rules
cluster_item_rules_dic[4] = cluster4_item_rules
cluster_item_rules_dic[5] = cluster5_item_rules

In [6]:
 cluster_item_rules_dic[4]

,item_A,item_B,product_name_A,product_name_B,freqAB,supportAB,freqA,supportA,freqB,supportB,confidenceAtoB,confidenceBtoA,lift
0,23352,44911,Large Deep Dish Containers + Lids,Entrée Containers & Lids,4,0.000107,4,0.000107,5,0.000133,1.000000,0.800000,7510.000000
1,17950,20259,Vegetable & Pepper Jack Cheese Flatbread Break...,"Special K Sausage, Egg & Cheese Flatbread Brea...",5,0.000133,5,0.000133,5,0.000133,1.000000,1.000000,7510.000000
2,20119,20259,Sparkling Water Berry,"Special K Sausage, Egg & Cheese Flatbread Brea...",5,0.000133,2696,0.071798,5,0.000133,0.001855,1.000000,13.928042
3,17950,49191,Vegetable & Pepper Jack Cheese Flatbread Break...,Cran Raspberry Sparkling Water,5,0.000133,5,0.000133,1247,0.033209,1.000000,0.004010,30.112269
4,46330,49191,Revive Fruit Punch Nutrient Enhanced VitaminWater,Cran Raspberry Sparkling Water,4,0.000107,8,0.000213,1247,0.033209,0.500000,0.003208,15.056135
...,...,...,...,...,...,...,...,...,...,...,...,...,...
35851,44632,49544,Sparkling Water Grapefruit,Cabernet Sauvignon Wine,4,0.000107,5985,0.159387,8,0.000213,0.000668,0.500000,3.137009
35852,44632,47613,Sparkling Water Grapefruit,Pure Cane Rough Cut Sugar Cubes,4,0.000107,5985,0.159387,8,0.000213,0.000668,0.500000,3.137009
35853,44632,49264,Sparkling Water Grapefruit,Organic Earl Grey Noir Tea Bags 20 Count,4,0.000107,5985,0.159387,9,0.000240,0.000668,0.444444,2.788453
35854,44632,47652,Sparkling Water Grapefruit,Coconut Almond Minis Frozen Dessert Bars,4,0.000107,5985,0.159387,10,0.000266,0.000668,0.400000,2.509607
35855,44632,47734,Sparkling Water Grapefruit,Organic Green Cabbage,6,0.000160,5985,0.159387,17,0.000453,0.001003,0.352941,2.214359

In [7]:
cluster_aisle_rules_dic = {}
cluster_aisle_rules_dic[0] = cluster0_aisle_rules
cluster_aisle_rules_dic[1] = cluster1_aisle_rules
cluster_aisle_rules_dic[2] = cluster2_aisle_rules
cluster_aisle_rules_dic[3] = cluster3_aisle_rules
cluster_aisle_rules_dic[4] = cluster4_aisle_rules
cluster_aisle_rules_dic[5] = cluster5_aisle_rules

In [8]:
cluster_aisle_rules_dic[4]

,aisle_A,aisle_B,aisle_name_A,aisle_name_B,freqAB,supportAB,freqA,supportA,freqB,supportB,confidenceAtoB,confidenceBtoA,lift
0,28,62,red wines,white wines,51,0.001481,116,0.003368,169,0.004907,0.439655,0.301775,89.606407
1,27,62,beers coolers,white wines,47,0.001365,353,0.010249,169,0.004907,0.133144,0.278107,27.136262
2,37,62,ice cream ice,white wines,9,0.000261,1404,0.040762,169,0.004907,0.006410,0.053254,1.306479
3,38,62,frozen meals,white wines,8,0.000232,586,0.017013,169,0.004907,0.013652,0.047337,2.782398
4,36,62,butter,white wines,5,0.000145,598,0.017362,169,0.004907,0.008361,0.029586,1.704102
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4172,24,132,fresh fruits,beauty,4,0.000116,7124,0.206828,24,0.000697,0.000561,0.166667,0.805821
4173,123,132,packaged vegetables fruits,beauty,4,0.000116,3048,0.088491,24,0.000697,0.001312,0.166667,1.883421
4174,115,132,water seltzer sparkling water,beauty,10,0.000290,27570,0.800430,24,0.000697,0.000363,0.416667,0.520554
4175,31,102,refrigerated,baby bath body care,4,0.000116,2169,0.062972,15,0.000435,0.001844,0.266667,4.234701
4176,24,76,fresh fruits,indian foods,5,0.000145,7124,0.206828,13,0.000377,0.000702,0.384615,1.859586

In [9]:
# returns top x items associated based on lift

def product(cluster, product_id, item_lift, product_name, num_products):
    df = cluster_item_rules_dic[cluster]
    df = df[(df['item_A'] == product_id) | (df['item_B'] == product_id)][['product_name_A','item_A','product_name_B','item_B','confidenceAtoB','lift']].sort_values('lift', ascending = False)
    df = df[df['lift'] > item_lift]
    df = df.sort_values('lift', ascending = False)
    df = df.head(n = num_products)
    product_associations = df['product_name_A'].values.tolist()
    for x in df['product_name_B'].values.tolist():
        product_associations.append(x)
    product_associations = [x for x in product_associations if x != product_name]
    return product_associations

In [10]:
# returns recommended products given inputs

def prod_recommender(user_id, product_id, item_lift, num_products):
    
    product_name = products.at[product_id,'product_name']
    aisle_id = products.at[product_id,'aisle_id']
    aisle_name = aisles.at[aisle_id,'aisle']
    cluster = cluster_df.at[user_id, 'cluster']
    print(cluster)
    return product(cluster = cluster, product_id = product_id, item_lift = item_lift, 
                              product_name = product_name, num_products = num_products)

In [11]:
user__id = int(input("Enter user id "))
num__products = int(input("Enter Number of recommendations "))
product_id = 39055
item_lift = 1

Enter user id 9
Enter Number of recommendations 2

In [12]:
prod_recommender(user__id, product_id, item_lift, num__products)

1

['Real Guacamole', 'Thick & Crispy Tortilla Chips']

In [13]:
import pickle

In [14]:
pickle.dump(prod_recommender, open('model.pkl','wb'))